
.box{
    background: rgba(5, 45, 126, 0.76);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781), 0 6px 20px 0 rgba(20, 5, 241, 0.623);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width: 90%;

}


.box2{
    background: rgba(5, 45, 126, 0.76);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781), 0 6px 20px 0 rgba(20, 5, 241, 0.623);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}
.articletitle {
    color: #fbffff;
    padding: 20px 0px 10px 0px;
    border-bottom: 3px solid #f0e8e8;
    /* font-weight: bold; */
    font-family: 'Cousine', monospace;
}

.articlebox {
    padding: 20px 0px 50px 0px;
}

.articlecontent {
    padding-top: 10px;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #fbffff;
}

body{

    background-image: url("spikes.png")
}

.Logo2{
    border-radius: 50px;

}

#emailIcon{
    float: right;
}

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .Logo2 {
        width: 100%;
        height: auto;
    }
}

/* For all mobiles */
 @media only screen and (max-width: 767px) {
    .Logo2 {
        width: 100%;
        height: auto;;
    }
}

/* Mobile Landscape Size to Tablet Portrait  */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
    .Logo2 {
        width: 100%;
        height: auto;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
 @media only screen and (max-width: 479px) {
    .Logo2 {
        width: 100%;
        height: auto;
    }
}