.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
}
@media screen and (max-height: 450px) {
  .portfolioimg {padding-top: 15px;}
  .imgbox {font-size: 18px;}
}
.portfolioimg {
  height: 200px;
  width: 200px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* link to deployed App in the middle of the picture */
.imgbox {
  position: absolute;
  left: 15px;
  top: 150px;
  width: 200px;
  height: 36px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(21, 21, 68);
  transition: .5s ease;
  opacity: 0;
}
/* Hover effect on image */
.portfoliobox:hover .portfolioimg {
  opacity: 0.3;
}

/* hover effect on link */
.portfoliobox:hover .imgbox {
  opacity: 1;
}

/* button position */
#btn{
  margin-left: 35px;
  margin-bottom: 5px;
}
.card-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#list{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 5px;
}