
#sidebar:hover .content{
    opacity: 1;

}
.content{
  transition: .5s ease;
  opacity: 0;
  background-image: url("https://r1.ilikewallpaper.net/iphone-wallpapers/download/10299/Blue-Cloud-iphone-wallpaper-ilikewallpaper_com.jpg");
  height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
}

#sidebar{
  background-color: rgb(21, 21, 68);  
  width: 160px;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  color: #fff;
  transition: all 0.3s;
}

#link, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: rgb(21, 21, 68);
}

/* white line at the bottom */
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #959899;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* color once hovering */
#sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    background: #fff;
}

/* color once you click on pages */
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #23252b;
}

/* color to background dropdown */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #182355;
}

/* Navbar for when the screen size is smaller */
#smallNav{
    background-image: url("https://r1.ilikewallpaper.net/iphone-wallpapers/download/10299/Blue-Cloud-iphone-wallpaper-ilikewallpaper_com.jpg");
    transition: all 0.3s;
}