.footer{
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100%;;
    background-image: radial-gradient( rgba(5, 45, 126, 0.76),black);
    border-top: 8px solid rgb(48, 47, 47);
    padding: 30px 0;
}